<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}" />
    <title>Examen Final LPIII</title>
</head>
<body>
    <header>
        <div id="logotipo">
            <h1>Examen Final (LP3)</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/index"> Inicio</a>
            </li>
            <li>
                <a href="{% url 'persona_list' %}">Personas</a>
            </li>
        </ul>
    </nav>
    <footer>
        UNTELS - Lenguaje de Programación III &copy; Flor Cerdán
    </footer>
</body>
</html>